{# Inputs #}

{% macro clipboardText(config) -%}
    {% do view.registerAssetBundle("flipbox\\ember\\web\\assets\\clipboard\\Clipboard") %}
    {%- set config = config|merge({'id': config.id ?? random()}) %}
    {% include "_includes/forms/text" with config only %}
    <a class="clipboard" data-clipboard-target="#{{ config.id }}">{{ config.clipboardText ?? 'Copy'|t('app') }}</a>
    {% js %}
        new Craft.Clipboard('.clipboard');
    {% endjs %}
{%- endmacro %}

{% macro clipboardTextarea(config) -%}
    {% do view.registerAssetBundle("flipbox\\ember\\web\\assets\\clipboard\\Clipboard") %}
    {%- set config = config|merge({'id': config.id ?? random()}) %}
    {% include "_includes/forms/textarea" with config only %}
    <a class="clipboard" data-clipboard-target="#{{ config.id }}">{{ config.clipboardText ?? 'Copy'|t('app') }}</a>
    {% js %}
        new Craft.Clipboard('.clipboard');
    {% endjs %}
{%- endmacro %}

{# Fields #}

{% macro clipboardTextField(config) %}
    {% from _self import clipboardText %}
    {% from '_includes/forms' import field %}
    {{ field(config, clipboardText(config)) }}
{% endmacro %}

{% macro clipboardTextareaField(config) %}
    {% from _self import clipboardTextarea %}
    {% from '_includes/forms' import field %}
    {{ field(config, clipboardTextarea(config)) }}
{% endmacro %}